In [11]:
# import tensorflow as tf
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt

In [12]:
from __future__ import division, print_function

matplotlib.style.use('fivethirtyeight')
%matplotlib inline

In [13]:
import csv
import sys
import os
from simpledbf import Dbf5

year = 1975
f_path = 'data/%d/accident' % year
csv_path = "%s.csv" % f_path

if not os.path.exists(csv_path):
    dbf_path = "%s.dbf" % f_path
    dbf = Dbf5(dbf_path)
    fatality_frame = dbf.to_csv(csv_path)
else:
    fatality_frame = pd.read_csv(csv_path)
# df = dbf.to_dataframe()

In [14]:
fatality_frame

,STATE,COUNTY,MONTH,DAY,YEAR,HOUR,MINUTE,VE_FORMS,PERSONS,VEHICLES,...,SCH_BUS,CF1,CF2,CF3,FATALS,DAY_WEEK,DRUNK_DR,ST_CASE,CITY,RAIL
0,1,95,1,4,75,22,24,3,3,NaN,...,NaN,0,0,0,1,7,0,10001,400,*******
1,1,95,1,2,75,4,30,1,2,NaN,...,NaN,0,0,0,1,5,0,10002,110,*******
2,1,35,1,1,75,4,0,1,1,NaN,...,NaN,0,0,0,1,4,0,10003,0,*******
3,1,77,1,2,75,14,50,1,3,NaN,...,NaN,0,0,0,1,5,0,10004,0,*******
4,1,97,1,5,75,20,0,1,1,NaN,...,NaN,0,0,0,1,1,0,10005,2100,*******
5,1,65,1,4,75,15,0,2,4,NaN,...,NaN,0,0,0,1,7,0,10006,0,*******
6,1,89,1,8,75,13,20,1,1,NaN,...,NaN,0,0,0,1,4,0,10007,2225,*******
7,1,69,1,4,75,1,15,1,1,NaN,...,NaN,0,0,0,1,7,0,10008,2961,*******
8,1,73,1,6,75,17,40,1,2,NaN,...,NaN,0,0,0,1,2,0,10009,1270,*******
9,1,101,1,3,75,17,44,2,5,NaN,...,NaN,1,0,0,1,6,0,10010,2130,*******
10,1,3,1,10,75,23,0,1,1,NaN,...,NaN,0,0,0,1,6,0,10011,0,*******
11,1,47,1,5,75,17,48,2,2,NaN,...,NaN,0,0,0,1,1,0,10012,0,*******
12,1,117,1,11,75,15,55,1,1,NaN,...,NaN,0,0,0,1,7,0,10013,0,*******
13,1,61,1,10,75,22,50,1,3,NaN,...,NaN,0,0,0,2,6,0,10014,0,*******
14,1,117,1,13,75,18,10,1,2,NaN,...,NaN,0,0,0,1,2,0,10015,2405,*******
15,1,101,1,8,75,21,30,1,3,NaN,...,NaN,0,0,0,1,4,0,10016,2130,*******
16,1,97,1,11,75,16,1,1,2,NaN,...,NaN,0,0,0,1,7,0,10017,2100,*******
17,1,95,1,7,75,18,30,2,2,NaN,...,NaN,0,0,0,1,3,0,10018,0,*******
18,1,99,1,12,75,3,21,1,2,NaN,...,NaN,0,0,0,1,1,0,10019,0,*******
19,1,73,1,17,75,99,99,1,1,NaN,...,NaN,0,0,0,1,6,0,10020,1850,*******
20,1,41,1,15,75,8,30,1,1,NaN,...,NaN,0,0,0,1,4,0,10021,0,*******
21,1,73,1,25,75,17,0,1,4,NaN,...,NaN,0,0,0,1,7,1,10022,350,*******
22,1,117,1,10,75,15,20,1,2,NaN,...,NaN,1,0,0,1,6,0,10023,0,*******
23,1,109,1,18,75,18,0,3,6,NaN,...,NaN,0,0,0,1,7,0,10024,0,*******
24,1,97,1,16,75,16,40,1,1,NaN,...,NaN,0,0,0,1,5,0,10025,2100,*******
25,1,83,1,8,75,14,37,2,2,NaN,...,NaN,0,0,0,1,4,1,10026,120,*******
26,1,97,1,17,75,19,48,1,2,NaN,...,NaN,0,0,0,1,6,0,10027,2100,*******
27,1,77,1,22,75,22,45,1,2,NaN,...,NaN,0,0,0,1,4,0,10028,0,*******
28,1,97,1,22,75,14,30,1,2,NaN,...,NaN,0,0,0,1,4,0,10029,2100,*******
29,1,81,1,17,75,7,45,1,1,NaN,...,NaN,0,0,0,1,6,0,10030,0,*******
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39131,56,37,10,9,75,21,18,1,2,NaN,...,NaN,0,0,0,1,5,0,560143,730,*******
39132,56,31,10,12,75,10,50,1,4,NaN,...,NaN,0,0,0,1,1,0,560144,0,*******
39133,56,15,10,10,75,23,50,1,2,NaN,...,NaN,0,0,0,1,6,0,560145,0,*******
39134,56,25,10,19,75,22,15,2,2,NaN,...,NaN,0,0,0,1,1,0,560146,0,*******
39135,56,21,10,21,75,7,20,1,2,NaN,...,NaN,0,0,0,1,3,0,560147,0,*******
39136,56,5,10,28,75,22,40,2,3,NaN,...,NaN,0,0,0,1,3,1,560148,0,*******
39137,56,15,10,29,75,12,35,1,1,NaN,...,NaN,26,0,0,1,4,0,560149,0,*******
39138,56,45,10,31,75,2,30,2,4,NaN,...,NaN,0,0,0,2,6,2,560150,0,*******
39139,56,37,10,31,75,10,35,1,2,NaN,...,NaN,0,0,0,1,6,0,560151,0,*******
39140,56,17,10,31,75,17,5,1,2,NaN,...,NaN,0,0,0,2,6,1,560152,0,*******
39141,56,37,11,3,75,19,30,1,1,NaN,...,NaN,0,0,0,1,2,0,560153,0,*******
39142,56,37,11,4,75,16,10,2,5,NaN,...,NaN,0,0,0,1,3,0,560154,0,*******
39143,56,25,10,25,75,15,5,1,3,NaN,...,NaN,0,0,0,1,7,0,560155,0,*******
39144,56,1,11,8,75,21,35,2,4,NaN,...,NaN,0,0,0,2,7,0,560156,470,*******
39145,56,13,11,10,75,20,20,1,2,NaN,...,NaN,0,0,0,1,2,0,560157,0,*******
39146,56,37,11,11,75,17,33,1,2,NaN,...,NaN,0,0,0,1,3,0,560158,730,*******
39147,56,37,11,16,75,17,10,1,2,NaN,...,NaN,0,0,0,1,1,0,560159,0,*******
39148,56,1,11,18,75,16,34,2,3,NaN,...,NaN,0,0,0,1,3,0,560160,470,*******
39149,56,19,11,24,75,13,25,1,2,NaN,...,NaN,1,0,0,1,2,0,560161,0,*******
39150,56,25,11,28,75,16,0,2,8,NaN,...,NaN,1,0,0,4,6,0,560162,0,*******
39151,56,31,12,1,75,19,30,1,4,NaN,...,NaN,0,0,0,3,2,0,560163,0,*******
39152,56,45,11,29,75,17,14,1,1,NaN,...,NaN,0,0,0,1,7,0,560164,610,*******
39153,56,9,12,4,75,11,45,1,1,NaN,...,NaN,20,0,0,1,5,0,560165,0,*******
39154,56,39,12,9,75,5,20,1,2,NaN,...,NaN,3,0,0,1,3,0,560166,0,*******
39155,56,13,12,10,75,16,0,2,7,NaN,...,NaN,0,0,0,1,4,0,560167,0,*******
39156,56,21,12,13,75,17,30,1,1,NaN,...,NaN,1,22,0,1,7,0,560168,0,*******
39157,56,7,12,20,75,2,45,1,2,NaN,...,NaN,0,0,0,1,7,0,560169,0,*******
39158,56,19,12,24,75,99,99,1,1,NaN,...,NaN,0,0,0,1,4,0,560170,0,*******
39159,56,21,12,29,75,17,54,2,3,NaN,...,NaN,0,0,0,2,2,0,560171,0,*******
39160,56,19,12,30,75,19,50,1,3,NaN,...,NaN,22,0,0,0,3,0,560172,0,*******

In [8]:
total_traffic_fatalities = fatality_frame.FATALS.sum()
print("%d Traffic fatalities:" % year, total_traffic_fatalities)

1975 Traffic fatalities: 44525.0

In [10]:
from keras.models import Sequential

Using Theano backend.